name: Verify

on:
  pull_request: {}

env:
  JAVA_TOOL_OPTIONS: >-
    -XX:TieredStopAtLevel=1
    -XX:+UseParallelGC
    -Dstyle.color=always
    -Djansi.force=true

jobs:
  build:
    name: Maven build
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        maven-version:
          - '3.3.9'
          - '3.6.1'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'zulu'
      - uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: .github/scripts/build.sh
        env:
          MAVEN_VERSION: ${{ matrix.maven-version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Code coverage report
        if: matrix.maven-version == '3.6.1'
        uses: codecov/codecov-action@v1

  build-all:
    if: ${{ always() }}
    name: Build (matrix)
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - name: Check build matrix status
        run: "[[ '${{ needs.build.result }}' == 'success' ]] || exit 1"
